html {
    scroll-behavior: smooth;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

section {
    padding-top: 4.5rem;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;
}

#navbarNavDropdown a {
    font-size: 1.2em;
}

.navbar-brand {
    font-size: 2rem;
}

#navbarNavDropdown a, .navbar-brand {
    font-family: 'Goldman', cursive;
}

#navbarNavDropdown .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .7);
}

#navbarNavDropdown .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 1);
}

#contacts a {
    text-decoration: none;
    color: #000000;
}

@media (max-width: 768px) {
    #contacts h2 {
        font-size: 2rem;
    }
}